@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
*{
  margin:0;
  box-sizing:border-box;
}
body{
 background-image: url("bg-intro-desktop.png");
  background-color:hsl(0, 100%, 74%);
}
.row{
  display: flex;
font-size:16px;
}
.left{
  float: left;
  padding:100px;
 text-align:center;
  margin:auto;
}
.right{
  display:flex;
  flex-direction: column;
  float:right;
  padding:50px;
  text-align:center;
  width:50%;
  height:50%;
  
}
h4{
   border: 1px solid hsl(248, 32%, 49%); 
  outline-style: solid;
  outline-color: hsl(248, 32%, 49%);
  background-color: hsl(248, 32%, 49%);
  outline-width:thin;
  border-radius:6px;
  padding:20px;
  margin-bottom:20px;
  box-shadow: 0px 5px  hsl(246, 25%, 77%);
  text-align:center;
   color: hsl(246, 25%, 77%);
  font-family: 'Poppins',sans-serif;
  font-weight:600;
  
}
input[type=text]{
   width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  border: 2px solid ;
  border-radius: 6px;
  resize: vertical;
  margin-bottom:10px;
  transition: background 0.2s, border 0.2s;
  border-color:hsl(246, 25%, 77%)
  
}
.input-container.input{
  color:black;
}
.input-container[data-error] .input{
  border-color: 1px solid hsl(0, 100%, 74%);
  color:hsl(0, 100%, 74%);
   background-image: url("icon-error.svg");
  background-repeat: no-repeat;
   background-position: right;
}           
.input-container[data-error]::after{
  content: attr(data-error);
  font-size: 0.60em;
  font-family: 'Poppins',sans-serif;
  font: italic;
  font-weight:400;
  color:hsl(0, 100%, 74%);
  float:right;
  margin-top:-10px;
   margin-bottom:10px;
}
.button{
  text-align: center;
  padding: 10px;
  border: 2px solid hsl(154, 59%, 51%);
  border-radius: 4px;
  resize: vertical;
  padding-right:100px;
  text-decoration:none;
  width:100%;
  display: inine-block;
  background-color:hsl(154, 59%, 51%);
  color: hsl(246, 25%, 77%);
  transition-duration: 0.4s;
  cursor: pointer;
}
.button hover{
  background-color:hsl(154, 59%, 69%);
  color: white;
}
.mainform{
  border:50px;
  outline-style: thin;
  outline-width: solid;
  height:100%;
  padding:40px;
  text-align:center;
  border-radius:6px;
  padding-right:20px;
  color: hsl(249, 10%, 26%);
  background-color:white;
}
.mainform{
  text-align:center;
  margin:10px;
  float: right;
  color: hsl(249, 10%, 26%);
}
.big{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  color:hsl(246, 25%, 77%);
}
.extra{
  color:hsl(246, 25%, 77%);
  font-family: 'Poppins', sans-serif;
  font-weight:400;
  font-size: 0.60em;
}
.tands{
   color:hsl(0, 100%, 74%) ;
  text-decoration:none;
}
.more{
  font-family: 'Poppins', sans-serif;
  font-weight:400;
  color:hsl(246, 25%, 77%);
}

@media screen and (max-width:375px) and (min-width:1440px){
  .row{
    width:50%;
  }
}
